.stu-page-fine {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stu-fine-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.stu-fine-details {
  width: 100%;
  background-color: white;
  padding: 20px;
  color: black;
  text-align: center;
  display: flex;

  align-items: center;
  flex-direction: column;
}
.stu-fine-container h3 {
  margin: 30px;
}

.stu-fine-container table {
  border: 1px solid rgb(234, 234, 234);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 70%;
}
.stu-fine-container table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.stu-fine-container table tr {
  background-color: #eceff1;
  border: 1px solid #ddd;
  padding: 0.35em;
}

.stu-fine-container table th,
table td {
  padding: 0.625em;
  text-align: center;
}

.stu-fine-container table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .stu-fine-container table {
    border: 0;
  }

  .stu-fine-container table caption {
    font-size: 1.3em;
  }

  .stu-fine-container table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .stu-fine-container table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .stu-fine-container table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .stu-fine-container table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .stu-fine-container table td:last-child {
    border-bottom: 0;
  }
}
